template:
  vmid: 200000
  name_prefix: cloud
  storage: local
  bridge: vmbr0
  vlan: 99
  nameserver: 45.88.180.254

image:
  convert_qcow2_to_raw: true

resources:
  cores: 2
  memory: 2048
  cpu: host

virt_custom:
  install:
    default:
      - qemu-guest-agent
      - sudo
      - mtr
      - bc
    almalinux:
      - qemu-guest-agent
      - sudo
      - mtr
      - bc
    alpine:
      - qemu-guest-agent
      - sudo
      - mtr
      - bc

  commands:
    default:
      - sed -i 's|^root:[^:]*:|root:!:|' /etc/shadow
        - sed -i 's/^PermitRootLogin.*/PermitRootLogin no/' /etc/ssh/sshd_config
        - sed -i 's/^#PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
        - sed -i 's/^PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
        - echo "PasswordAuthentication yes" > /etc/ssh/sshd_config.d/60-cloudimg-settings.conf
        - systemctl enable qemu-guest-agent
        - rm -rf /var/log/*
        - apt-get clean
    alpine:
      - sed -i 's|^root:[^:]*:|root:!:|' /etc/shadow
      - sed -i 's/^PermitRootLogin.*/PermitRootLogin no/' /etc/ssh/sshd_config
      - sed -i 's/^#PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
      - sed -i 's/^PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
      - echo "PasswordAuthentication yes" > /etc/ssh/sshd_config.d/60-cloudimg-settings.conf
      - rc-update add qemu-guest-agent default
      - rm -rf /var/log/*
      - apk cache clean
    almalinux:
      - sed -i 's|^root:[^:]*:|root:!:|' /etc/shadow
      - sed -i 's/^PermitRootLogin.*/PermitRootLogin no/' /etc/ssh/sshd_config
      - sed -i 's/^#PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
      - sed -i 's/^PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
      - echo "PasswordAuthentication yes" > /etc/ssh/sshd_config.d/60-cloudimg-settings.conf
      - systemctl enable qemu-guest-agent
      - rm -rf /var/log/*
      - dnf clean all

  copy:
    - src: files/00-motd.sh
      dst: /etc/profile.d/
      mode: "+x"

firstboot:
  default:
    - apt update && apt -y upgrade
  almalinux:
    - dnf -y update
  alpine:
    - apk update && apk upgrade
