template:
  vmid: 200000
  name_prefix: cloud
  storage: local
  bridge: vmbr0
  vlan: 99
  nameserver: 45.88.180.254

image:
  convert_qcow2_to_raw: true

resources:
  cores: 2
  memory: 2048
  cpu: host

virt_custom:
  install:
    - qemu-guest-agent
    - sudo
    - mtr
    - bc

  commands:
    - sed -i 's|^root:[^:]*:|root:!:|' /etc/shadow
    - sed -i 's/^PermitRootLogin.*/PermitRootLogin no/' /etc/ssh/sshd_config
    - sed -i 's/^#PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
    - sed -i 's/^PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
    - systemctl enable qemu-guest-agent
    - rm -rf /var/log/*
    - apt-get clean

  copy:
    - src: files/00-motd.sh
      dst: /etc/profile.d/
      mode: "+x"

firstboot:
  - apt update && apt -y upgrade